@page "/"

<h1>BlazorFormLayout Shows Validation</h1>

<p>
    You can use the controls with validation. This example uses <a href="https://www.nuget.org/packages/FluentValidation/">FluentValidation</a> and
    <a href="https://www.nuget.org/packages/Blazored.FluentValidation/">Blazored.FluentValidation</a> from <a href="https://chrissainty.com/using-fluentvalidation-for-forms-validation-in-razor-components/">Chris Sainty</a>
</p>

<div class="row">
    <div class="col">
        <BsCard Header="Validation Demo" HeaderCss="bg-info">

            <EditForm Model="model" OnValidSubmit="HandleSubmit">
                <FluentValidationValidator Validator="validator" />
                <ValidationSummary />
                <BsLayout>
                    <BsText Label="Customer name" @bind-Value="@model.Name" ValidationFor="@(()=> model.Name)" />
                    @*<BsText @bind-Value="@model.Contact" Label="Contact" />
                        <BsCheckbox @bind-Value="@model.IsPriorityCustomer" Label="Priority" CheckboxLabel="Yes" />
                        <BsNumber @bind-Value="@model.Units" Label="UnitsToOrder" />
                        <BsNumber @bind-Value="@model.Price" Label="UnitPrice" />
                        <BsGroup Label="Select colour">
                            <input type='color' @bind="model.FavouriteColour" />
                        </BsGroup>
                        <BsDropdownEnum @bind-Value="@model.CustomerType" Label="Business Type" />
                        <BsRadioEnum @bind-Value="@model.CustomerType" Label="Business Type" />
                        <BsStaticText Value="@model.Total.ToString("c")" />
                        <BsGroup Label="Current form context">
                            <p class="form-control-plaintext">Sample group @formOrientation in @FormMode mode</p>
                        </BsGroup>
                        <BsDate @bind-Value="@model.DeliveryDate" Label="Delivery Date"  />*@
                    <BsGroup ValidationFor="@(()=> model.Name)">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </BsGroup>
                </BsLayout>
            </EditForm>
        </BsCard>
    </div>
</div>
@code
{
    Customer model = new Customer();

    CustomerValidator validator = new CustomerValidator();

    void HandleSubmit()
    {

    }
}