<BsGroup Label="@Label">
    <div class="form-check">
        <InputCheckbox @bind-Value="@Value" @bind-Value:event="changed" id="@Id" class="form-check-input" disabled="@(Mode == EditMode.ReadOnly)" />
        <label class="form-check-label" for="@Id">@CheckboxLabel</label>
    </div>
</BsGroup>
@code
{
    [Parameter] public string Label { get; set; }

    [Parameter] public string Id { get; set; }

    [Parameter] public string CheckboxLabel { get; set; }

    [Parameter] public bool Value { get; set; }

    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    [CascadingParameter] public EditMode Mode { get; set; }

}