<p>TODO</p>
@*@inherits BsControlBase<bool>;
<BsGroup Label="@Label" Id="@Id">
    <div class="form-check">
        <input type="checkbox" id="@Id"  class="form-check-input" @bind="CurrentValue"
               disabled="@(Mode == EditMode.ReadOnly)" />
        <label class="form-check-label" for="@Id">@CheckboxLabel</label>
    </div>
</BsGroup>
@code
{
    /// <summary>
    /// The text which appears next to the checkbox itself (optional)
    /// </summary>
    [Parameter] public string CheckboxLabel { get; set; }

    protected protected override bool TryParseValueFromString(string value, out bool result, out string validationErrorMessage)
    {
        throw new NotImplementedException($"This component does not parse string inputs. Bind to the '{nameof(CurrentValue)}' property, not '{nameof(CurrentValueAsString)}'.");
    }
}*@