@inherits BsControlBase<bool>;
<BsGroup Label="@Label" Id="@Id">
    <div class="form-check">
        <InputCheckbox @bind-Value="@Value" @bind-Value:event="changed" id="@Id" class="form-check-input" disabled="@(Mode == EditMode.ReadOnly)" />
        <label class="form-check-label" for="@Id">@CheckboxLabel</label>
    </div>
</BsGroup>
@code
{
    /// <summary>
    /// The text which appears next to the checkbox itself (optional)
    /// </summary>
    [Parameter] public string CheckboxLabel { get; set; }

}