@inherits BsControlBase<string>
<BsValidatedGroup Label="@Label" Id="@Id" ValueExpression="@ValueExpression">
    <InputSelect @bind-Value="@Value" class="form-control" id="@Id" disabled="@(Mode == EditMode.ReadOnly)">
        @foreach (var item in ValueOptions)
        {
            <option>@item</option>
        }
    </InputSelect>
</BsValidatedGroup>
@code
{
    [Parameter] public IEnumerable<string> ValueOptions { get; set; }

    protected override bool TryParseValueFromString(string value, out string result, out string validationErrorMessage)
    {
        throw new NotImplementedException();
    }
}
