@typeparam TEnum 
@inherits BsControlBase<TEnum>
<BsGroup Label="@Label" Id="@Id">
    <InputSelect @bind-Value="@Value" class="form-control" id="@Id" disabled="@(Mode == EditMode.ReadOnly)" >
        @foreach (var item in GetValueOptions())
        {
            <option value="@item.Value">@item.Key</option>
        }
    </InputSelect>
</BsGroup>

@code
{
    List<KeyValuePair<string, TEnum>> GetValueOptions() => EnumHelper.GetValueOptions<TEnum>();
}
