@typeparam TType
@inherits BsControlBase<TType>
<BsValidatedGroup Label="@Label" Id="@Id" ValueExpression="@ValueExpression">
    <select @bind="@CurrentValue" class="form-control @CssClass" id="@Id" disabled="@(Mode == EditMode.ReadOnly)">
        @foreach (var item in ValueOptions)
        {
            <option value="@item.Key">@item.Value</option>
        }
    </select>
</BsValidatedGroup>
@code
{
    /// <summary>
    /// The value options to set
    /// </summary>
    [Parameter]
    public Dictionary<TType, string> ValueOptions { get; set; }

    protected override bool TryParseValueFromString(string value, out TType result, out string validationErrorMessage)
    {
        throw new NotImplementedException();
    }
}
