@typeparam TEnum
@inherits BsControlBase<TEnum>
<BsValidatedGroup Label="@Label" Id="@Id" ValueExpression="@ValueExpression">
    <select @bind="@CurrentValue" class="form-control" id="@Id" disabled="@(Mode == EditMode.ReadOnly)">
        @foreach (var item in GetValueOptions())
        {
            <option value="@item.Key">@item.Value</option>
        }
    </select>
</BsValidatedGroup>

@code
    {
    /// <summary>
    /// optional parameter: allow user to set values
    /// </summary>
    [Parameter]
    public Dictionary<TEnum, string> ValueOptions { get; set; }

    Dictionary<TEnum, string> GetValueOptions() => ValueOptions ?? Helper.GetValueOptions<TEnum>();

    protected override bool TryParseValueFromString(string value, out TEnum result, out string validationErrorMessage)
    {
        throw new NotImplementedException();
    }
}
